:root {
  --teal: #92cccd;
  --charcoal: #252525;
  --slate: #445876;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a, a:hover, a:focus, a:active, .pageLink {
  text-decoration: none;
  color: var(--teal);
}


nav {
  padding: 20px;
  padding-left: 0px;
  font-size: 30px;
  background-color: var(--charcoal);
  display: flex;
  justify-content: space-between;
}

nav > ul > li{
  justify-content: space-between;
  /* background-color: red; */
  margin-right: 35px;
  /* padding: 50px; */
}

.name {
  text-align: right;
  background-color: var(--teal);
  padding-left: 50px;
  padding-right: 5px;
}

.links {
  float: right;
  color: var(--teal);
  font-size: 20px;
}

.links span{
  border-bottom: 3px solid var(--teal);
  margin: 5px;
}

.main{
  /* display: flex; */
  margin-left: 20vw;
  /* background-color: green; */
}

section{
  display: flex;
  flex-direction: row;
  margin: 20px;
  color: var(--slate);
}

.label {
  font-size: 50px;
  width: 25%;
  min-width: 25%;
  text-align: right;
  border-right: 5px solid var(--slate);
  margin-right: 30px;
  padding-right: 10px;

}

.subtitle {
  background-image: url('../pics/blue-panel.jpg');
  height: 100px;
  position: relative;
}

.subtitle div {
  position: absolute;
  bottom: 15px;
  right: 40px;
  background-color: var(--teal);
  padding: 5px;
}

.pics {
  width: 75%;
  height: 500px;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-auto-rows:minmax(100px, auto);
  grid-gap:1em;

}

.pics > div {
  border: 4px solid var(--teal);
}

.pics > .box1:not(:hover) {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../pics/ocean-sky.jpg');
}
.pics > .box2:not(:hover) {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../pics/led-wall.jpg');
}
.pics > .box3:not(:hover) {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../pics/calculator.jpg');
  background-position: center;
}
.pics > .box4:not(:hover) {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../pics/pastel.jpg');
}
.pics > .box5:not(:hover) {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../pics/run.jpg');
}

.box1{
  grid-column:1/4;
  grid-row:1/3;
  background-image: url('../pics/ocean-sky.jpg');
}

.box2{
  grid-column:1/2;
  grid-row:3;
  background-image: url('../pics/led-wall.jpg');
}

.box3{
  grid-column:2/4;
  grid-row:3;
  background-image: url('../pics/calculator.jpg');
  background-position: center;
}

.box4{
  grid-column:1/2;
  grid-row:4;
  background-image: url('../pics/pastel.jpg');
}

.box5{
  grid-column:2/4;
  grid-row:4;
  background-image: url('../pics/run.jpg');
}

.box-label {
  background-color: var(--teal);
  color: black ;
  display: block;
  position: absolute;
  padding: 5px;
  margin-top: 45px;
}

.box1 > .box-label {
  margin-top: 175px;
}

.head-label {
  font-size: 20px;
  padding: 5px;
}

.sub-label {
  font-size: 10px;
  padding-left: 5px;
}

.footer {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; 
}

.footer div{
  border-bottom: 4px solid var(--slate);
  border-color: var(--slate);
  font-size: 18px;
  height: 30px;
  position: relative;
  top: 30%;
}